.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/framework/sessions
storage/framework/cache
storage/logs
docker-compose.yml
docker-compose.override.yml
generate-favicons.php
README.md
*.md
.fleet
.idea
.vscode
